.port-image {
    margin: 5px auto;
    border: 1px solid black;
  }
  
  h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .repo-links {
    color: black;
    margin: 0;
  }
  
  .repo-links:hover {
    color: grey;
  }
  
  p {
    margin-bottom: 0;
  }