/* NAV START */
#logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar {
    background: #041E3C;
    border: none;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: #EBEBEB;
  }