.footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
  
    /* Visual */
    background-color: #4C1B30;
  }
  
  .text-muted-footer {
    /* Box-model */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #041E3C;
  }
  
  .footer-text {
    color: white;
    margin-top: 15px;
  }